html {
  height: 100%;
  background: linear-gradient(rgb(242, 77, 242), rgb(79, 3, 79));
}
h1_ {
  text-align: center;
}
.block {
  background-color: blue;
  height: 120px;
  width: 120px;
  border: 2px solid black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 500%;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h2 {
  text-align: center;
}
.noMoreClicks {
  pointer-events: none;
}
